
body {
    width: 1000px;
    margin: 1rem auto;
}

.background-wrapper {
    background-image: url('background-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 800px;
    height: 600px;
    position: relative;
}